body {
  background-color: rgba(0, 4, 255, 0.945);
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 1px solid rgba(0, 255, 76, 0.918);
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid rgba(255, 8, 0, 0.884);
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 20px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 400px;
}
.titulo{
	background-color: rgb(255, 174, 0);
	color: white;
	font-size: 36px;
}

.texto{
	margin: 15px;
}

